<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <center>
    <table style="width: 90%;">
      <tr>
        <td>
          <hr>
          <p><b> <p align="center">Hello <%= @user_name %>.</p></b></p>
          <p><b> <p align="center"><a href="http://localhost:3000/activate_account/<%= @token %>" style="color:#73f919;">Activate your Account here</a>.</p></b></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Thanks,<br>
            <hr> 
          </p>
          </p>
        </td>
      </tr>
    </table>
  </center>
</body>
</html>